body {
	display: grid;
	grid-template-columns: repeat(4, min-content);
	grid-gap: 1rem;
}
.example {
	width: 16rem;
	background: #e6e0dd;
	font-family: helvetica, arial, sans-serif;
	font-size: 19px;
	font-weight: bold;
	line-height: 1.33;
	border-radius: 16px;
}

.display {
	padding: 0.75em;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.0;
	text-align: center;
	border: 1px solid #a0a0a0;
	border-radius: 16px;
}


.output {
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: block;
}

.label {
	display: inline-block;
	width: 4em;
	color: #555;
}

output {
	display: inline-block;
	width: 2.25em;
}

div hr {
	padding: 0;
	margin: 0.1em;
	border: 1px dotted #30a;
	}

.badge {
	border-radius: 1em;
	font-size: 90%;
	vertical-align: 0.1em;
	padding: 0 0.6em;
}
.badge-0,.badge-REJECT,.badge-TOO-SML,.badge-TOO-THN {
	background-color: #c00;
	color: #ffa;
}
.badge-NONSEM {
	background-color: #800;
	color: #ff8;
}
.badge-SPOT-A,.badge-SPOT-B {
	background-color: hsl(60, 100%, 45%);
	color: #b00;
}
.badge-NONTXT,.badge-SPOT-C {
	background-color: hsl(60, 100%, 45%);
	color: #800;
}
.badge-SUBFL1 {
	background-color: #570;
	color: #ffa;
}
.badge-LARGE,.badge-SUBFL2 {
	background-color: #480;
	color: #ffa;
}
.badge-AAA,.badge-AA,.badge-FLUENT{
	background-color: #0a0;
	color: #efe;
}
.badge-4,.badge-BODYTX,.badge-FLBDTX{
	background-color: #080;
	color: #fff;
}






